{% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <a href="{{ url_for('welcome') }}">Welcome Page</a>
    
    <h1>User</h1>
    <ul>
    {% for user in user_list %}
        <li>
            Number: {{ loop.index0 }} <br>
            Name: {{ user.name }} <br>
            Email: {{ user.email }}
            <a href="{{ url_for('user_route', idx=loop.index0) }}">
                See User Page
            </a>
        </li>
    {% endfor %}
    </ul>

</body>

</html>